<div id='heading'>
<% @wine_shops.each do |wine_shop| %>
    <h1><%= wine_shop.name %></h1>

    <p><%= wine_shop.address %></p>
<% end %>

<p>A local favorite wine shop, The Juice Box has a wide selection of wine and spirits and boasts a friendly/knowledgable staff! </p>

<%= image_tag ("/assets/juice box.png"), class: "img-responsive", size: "500x200" %>
<%= button_to "Click Here To Browse Our Wine Selection! ðŸ·", wines_path, method: "get" %>
</div>

