<div class='heading'>
<% @bakeries.each do |bakery| %>
    <h1><%= bakery.name %></h1>

    <p><%= bakery.address %></p>
<% end %>
	<div class = 'desc'>
<p >Located in Park Slope, Ladybird Bakery has been providing goodies for 23 years</p>
<p>Ladybird Bakery (formerly known as Two Little Red Hens) has been delighting Brooklyn's Park Slope neighborhood with delicious, American-style baked treats.</p>
<p>Over the years, Ladybird has grown famous for its decadent Brooklyn Blackout, addictive Red Velvet, and its range of holiday pies and tarts.</p>
</div>

<img src="/assets/Ladybird.png"><br><br>

<%= button_to "Click Here to View Our Cupcakes! ðŸ§", cupcakes_path, method: "get" %>

</div>

