<% if flash[:success] %>
<h2 style="color:green;"><%= flash[:success] %></h2>
<% end %>

<h3>Customer Profile:</h3>

Name: <%= @customer.name %><br>

Age: <%= @customer.age %><br>

Email: <%= @customer.email %>