// Place all the styles related to the Wines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
img {
	border: 1px solid#ddd;
	border-radius: 4px;
	padding: 5px;
	width: 300px;
	height: auto;
}