<h1> Wine Selection: </h1>

<div id='content'>
    <% @wines.each do |wine| %>
        <div class="tile">
            <h2> <%= link_to wine.name, wine_path(wine) %> </h2>
            <%= link_to image_tag wine.img_url  %>
        </div>
    <% end %>
</div>


